.content{
  width: 80%;

}
.text{
  text-align: left;
  color: #888888;
  font-size: 2rem;
}

footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}


.empList{
  width: 100%;
}
