

<div class="container">
  <div class="col-1">
    <p>
      Id: {{value.empid}}</p>
    <p>
      First Name: {{value.firstName}}
    </p>
    <p>
      Last Name: {{value.lastName}}
    </p>
  </div>
  <div class="col-2">
    <p>Age: {{value.age}}</p>
    <p>Joining Date: {{value.dateOfJoining |date:'dd/MM/yyyy'}}</p>
    <p>Department: {{value.department}}</p>
    <p>Salary: {{value.salary}}</p>
  </div>
  <div class="col-2">
    <p>
      Projects : {{value.projects}}
    </p>
  </div>
</div>
